html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

:root {
  --primary-color-light: #4a56e2;
  --primary-color-dark: #06071b;
  --primary-color-background: #e5e5e5;
  --primary-color-text: #acacac;
  --primary-color-text-button: #fff;
  --primary-color-border: #6b009d;
  --secondary-color-background: #181234;
  --secondary-color-light: #ff5733;
  --secondary-color-dark: #ff7000;
  --third-color-background: #0d0921;
  /* --secondary-color-dark: #EF09DA; */
}

/* remember to define focus styles! */

:focus {
  outline: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@font-face {
  font-family: "coolveticaregular";
  src: url("coolvetica_rg-webfont.woff2") format("woff2"),
    url("coolvetica_rg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  max-width: 1440px; /* Maksymalna szerokość kontenera */
  margin: 0 auto; /* Wyśrodkowanie kontenera na stronie */
  font-family: "Inter", sans-serif;
  margin-top: 20px;
  line-height: 1;
  color: rgba(255, 255, 255, 0, 9);
  background: var(--primary-color-dark);
  font-size: 16px;
  line-height: auto;
  background-color: var(--primary-color-background);
  /* overflow-x: hidden;  */
}

.banner {
  background-image: linear-gradient(rgba(6, 7, 27, 1), rgba(255, 255, 255, 0.1)),
    url(./img/robot-banner.jpg);
  /* background-image: url(./img/robot-banner.jpg); */
  background-size: cover; /* Opcjonalne: dostosowuje rozmiar obrazu do elementu */
  background-repeat: no-repeat; /* Opcjonalne: wyłącza powtarzanie tła */
  height: 80vh;
  max-width: 1440px; /* Ogranicz szerokość do 1440 pikseli */
  margin: 0 auto;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center; /* Wyrównanie w pionie do środka */
  justify-content: space-between; /* Dodajemy właściwość justify-content */
  gap: 30px; /* Odstęp między elementami */
  padding: 20px 120px 20px 120px;
  background-size: cover; /* Opcjonalne: dostosowuje rozmiar obrazu do elementu */
  background-repeat: no-repeat; /* Opcjonalne: wyłącza powtarzanie tła */
  border-bottom: 1px solid #ccc; /* Dodaj szarą linię dolną */
}

.menu {
}

.menu li {
  display: inline;
  margin-right: 10px;
}

.menu li a {
  text-decoration: none;
  color: var(--primary-color-text); /* Kolor linków */
}

.menu li a.active {
  position: relative;
}

.menu li a.active::after {
  content: "\00b7"; /* Kod kropki (w formacie Unicode) */
  position: absolute;
  bottom: -40px; /* Odległość kropki od tekstu */
  left: 15px;
  font-size: 60px; /* Rozmiar kropki */
  color: var(--secondary-color-dark); /* Kolor kropki */
}

.word {
  display: flex; /* Używamy modelu flexbox */
  align-items: center; /* Wyśrodkowanie w pionie */
}

.word img {
  margin-right: 5px; /* Odstęp między ikonką a tekstem */
}

/* nie wiem jak zrobić żeby ikonka kuli ziemskiej była jako tło */
/* .word {
  background-image: url(./img/earth.png);
    background-size:contain;
  background-repeat: no-repeat; /* Opcjonalne: wyłącza powtarzanie tła 
} */

.button {
  color: var(--primary-color-text-button);
  background-color: var(--secondary-color-dark);
  text-decoration: none;
  padding: 8px 22px;
  margin-left: 22px;
  border-radius: 15px;
}

.buttonBig {
  padding: 13px 29px; /* Dostosuj wielkość paddingu do uzyskania odpowiedniego rozmiaru */
  border: 2px solid var(--primary-color-border); /* Dodaj obramowanie 2 pikseli */
  background-color: var(--secondary-color-dark);
  border-radius: 50px;
  text-decoration: none;
}

/* Główny baner */

header {
  color: var(--primary-color-text);
  padding: 156px;
}

h2 {
  font-family: "coolveticaregular", sans-serif;
  color: var(--primary-color-text-button);
  font-weight: bold;
  font-size: 72px;
  letter-spacing: 2%;
  line-height: 1.5;
  padding-bottom: 69px; /* odsuwam buttona w dół */
}

h3 {
  font-family: "coolveticaregular", sans-serif;
  color: var(--primary-color-text-button);
  font-size: 40px;
}

h4 {
  font-size: 17px;
}

h5 {
  color: var(--secondary-color-dark);
  font-size: 14px;
}

/* logotypy na środku strony */
.logos {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 30px;
}

span {
  color: var(--primary-color-text-button);
}

.container {
  background-color: var(--primary-color-dark);
  text-align: center;

  /* padding: 20px; Dodatkowy padding wewnątrz kontenera */
}
.about {
  color: var(--secondary-color-dark);
  font-size: 17px;
}

.welcome {
  background-color: var(--secondary-color-background);
}

.presentation {
  background-color: var(--third-color-background);
}

/* tables still need 'cellspacing="0"' in the markup */

/* table {
  border-collapse: separate;

  border-spacing: 0;
} */

/* caption,
th,
td {
  text-align: left;

  font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
} */

/* blockquote,
q {
  quotes: "" "";
} */

/* body {
  text: white;
} */

.title-article {
  width: 500px;
  height: 500px;
}
.tittle-article--image {
  color: #cccccc;
}
